@media(max-width:320px){
 
  main {
    background-color:white;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
  } 
  .post {
    grid-column: auto;
    grid-row: auto;
  }
  .blog {
    display: flex;
   flex-flow: column wrap;
  }
  article {
    background-color: gainsboro;
    margin: 0.4em;
  }
}